@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.seccion_info .industrias .eye .icon_eye, .seccion_info .industrias .eye .icon_lamp, .seccion_info .industrias .eye .icon_hand, .seccion_info .industrias .eye .icon_search, .seccion_info .industrias .lamp .icon_eye, .seccion_info .industrias .lamp .icon_lamp, .seccion_info .industrias .lamp .icon_hand, .seccion_info .industrias .lamp .icon_search, .seccion_info .industrias .hand .icon_eye, .seccion_info .industrias .hand .icon_lamp, .seccion_info .industrias .hand .icon_hand, .seccion_info .industrias .hand .icon_search, .seccion_info .industrias .search .icon_eye, .seccion_info .industrias .search .icon_lamp, .seccion_info .industrias .search .icon_hand, .seccion_info .industrias .search .icon_search {
  width: 48px;
  height: 48px;
  display: block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.seccion_info .industrias .eye .icon_eye:hover, .seccion_info .industrias .eye .icon_lamp:hover, .seccion_info .industrias .eye .icon_hand:hover, .seccion_info .industrias .eye .icon_search:hover, .seccion_info .industrias .lamp .icon_eye:hover, .seccion_info .industrias .lamp .icon_lamp:hover, .seccion_info .industrias .lamp .icon_hand:hover, .seccion_info .industrias .lamp .icon_search:hover, .seccion_info .industrias .hand .icon_eye:hover, .seccion_info .industrias .hand .icon_lamp:hover, .seccion_info .industrias .hand .icon_hand:hover, .seccion_info .industrias .hand .icon_search:hover, .seccion_info .industrias .search .icon_eye:hover, .seccion_info .industrias .search .icon_lamp:hover, .seccion_info .industrias .search .icon_hand:hover, .seccion_info .industrias .search .icon_search:hover {
  transform: scale(1.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #414042;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #6d6e71;
}

@keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Banner */
.carousel-caption {
  text-align: left;
  top: 10%;
  left: 5%;
  padding: 80px;
  width: 800px;
}
.carousel-caption h5 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 80px;
  animation: fade-in-slide-down 1.5s ease-out forwards;
}
.carousel-caption p {
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}

.seccion_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding: 0 16px 40px;
}
.seccion_info .titulo_info {
  font-size: 32px;
  font-weight: 400;
  color: #5f5f5f;
}
.seccion_info .industrias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 40px;
  gap: 40px;
}
.seccion_info .industrias .eye, .seccion_info .industrias .lamp, .seccion_info .industrias .hand, .seccion_info .industrias .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 12px;
}
/* Sección Somos----- */
.somos_popit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #faecfa;
  margin-top: 80px;
  margin-bottom: 40px;
}
.somos_popit .textos_somos_popit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 40px 80px;
  text-align: center;
}
.somos_popit .textos_somos_popit .titulo_somospopit {
  font-size: 32px;
  color: #5f5f5f;
  font-weight: 600;
}
.somos_popit .textos_somos_popit .subtitulo_somospopit {
  font-size: 20px;
  color: #5f5f5f;
  font-weight: 500;
}
.somos_popit .textos_somos_popit .texto_somos {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
}
.somos_popit .imagen_somos {
  width: 500px;
}

/* Sección partners */
.seccion_partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  gap: 60px;
}
.seccion_partners .titulo_partner {
  font-size: 32px;
  font-weight: 600;
  color: #cb2390;
}

@media (max-width: 480px) {
  .carousel-caption {
    padding: 20px;
    width: 100%;
  }
  .carousel-caption h5 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  .seccion_info .industrias {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 16px;
  }
  .seccion_info .industrias .eye, .seccion_info .industrias .lamp, .seccion_info .industrias .hand, .seccion_info .industrias .search {
    width: 100%;
  }
  /* Sección Somos */
  .somos_popit {
    flex-direction: column-reverse;
  }
  .somos_popit .imagen_somos {
    width: 75%;
    height: auto;
  }
  .somos_popit .textos_somos_popit {
    padding: 20px;
    text-align: center;
  }
  /* Partners */
  .seccion_partners img {
    max-width: 100%;
    height: auto;
  }
}
/* Banner */
.banner_nosotros {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-image: url(../recursos/banner\ nosotros.png);
  height: 500px;
  padding: 80px 700px 0 80px;
  gap: 40px;
  background-position: top;
  background-size: cover;
}
.banner_nosotros .titulo_banner_nosotros {
  font-size: 42px;
  font-weight: 700;
  color: #3f3f3f;
  text-align: left;
}
.banner_nosotros .subtitulo_banner_nosotros {
  font-size: 24px;
  font-weight: 400;
  color: #3f3f3f;
  text-align: left;
}

/* Sección info */
.seccion_somos {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccion_somos .primer_parrafo,
.seccion_somos .segundo_parrafo {
  color: #5f5f5f;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* Sección vision y valores */
.seccion_vision_valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 80px;
}
.seccion_vision_valores .imagen_vision {
  width: 500px;
}
.seccion_vision_valores .textos_vision {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 60px 80px 40px 40px;
}
.seccion_vision_valores .textos_vision .titulo_vision {
  color: #3f3f3f;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 60px;
}
.seccion_vision_valores .textos_vision .parrafo_vision1,
.seccion_vision_valores .textos_vision .parrafo_vision3 {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.seccion_vision_valores .textos_vision .parrafo_vision2 {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 480px) {
  .banner_nosotros {
    height: auto;
    padding: 60px 20px;
    align-items: center;
    text-align: center;
  }
  .banner_nosotros .titulo_banner_nosotros {
    font-size: 28px;
  }
  .banner_nosotros .subtitulo_banner_nosotros {
    font-size: 18px;
  }
  /* Sección Visión y Valores */
  .seccion_vision_valores {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .seccion_vision_valores .imagen_vision {
    width: 100%;
    margin-bottom: 20px;
  }
  .seccion_vision_valores .textos_vision {
    padding: 0;
  }
  .seccion_vision_valores .textos_vision .titulo_vision {
    text-align: center;
    padding-bottom: 20px;
  }
}
/* Banner */
.banner_servicios {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-image: url(../recursos/banner\ servicios.png);
  height: 500px;
  padding: 80px 700px 0 80px;
  gap: 40px;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 200px;
}
.banner_servicios .titulo_banner_servicios {
  font-size: 42px;
  font-weight: 700;
  color: #5f5f5f;
  text-align: left;
}
.banner_servicios .subtitulo_banner_servicios {
  font-size: 24px;
  font-weight: 400;
  color: #5f5f5f;
  text-align: left;
}

/* Sección info servicios (Grid) */
.seccion_servicios_grid {
  background-color: #e9efff;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 1440px;
  display: grid;
  grid-template-areas: "titulo_servicios-grid digital_grid ux_grid" "equipo_grid cloud_grid metrica-grid";
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 350px 450px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 24px;
  align-content: space-between;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  /* Anidamiento de las tarjetas del Grid */
}
.seccion_servicios_grid .titulo_servicios-grid {
  font-size: 36px;
  font-weight: 600;
  color: #475a8b;
  text-align: center;
}
.seccion_servicios_grid .digital_grid,
.seccion_servicios_grid .ux_grid,
.seccion_servicios_grid .equipo_grid,
.seccion_servicios_grid .cloud_grid,
.seccion_servicios_grid .metrica-grid {
  background-color: #475a8b;
  align-items: center;
  align-content: center;
  padding-bottom: 16px;
  border-radius: 8px;
}
.seccion_servicios_grid .digital_grid,
.seccion_servicios_grid .ux_grid {
  width: 472px;
}
.seccion_servicios_grid .equipo_grid,
.seccion_servicios_grid .cloud_grid,
.seccion_servicios_grid .metrica-grid {
  width: 300px;
}
.seccion_servicios_grid .cloud_grid .imagen_cloud-grid,
.seccion_servicios_grid .cloud_grid .imagen_metrica-grid,
.seccion_servicios_grid .metrica-grid .imagen_cloud-grid,
.seccion_servicios_grid .metrica-grid .imagen_metrica-grid {
  width: 300px;
  height: 278px;
}
.seccion_servicios_grid .digital_grid .parrafo1_digital-grid,
.seccion_servicios_grid .digital_grid .parrafo1_ux-grid,
.seccion_servicios_grid .digital_grid .parrafo1_equipo-grid,
.seccion_servicios_grid .digital_grid .parrafo1_cloud-grid,
.seccion_servicios_grid .digital_grid .parrafo1_metrica-grid,
.seccion_servicios_grid .ux_grid .parrafo1_digital-grid,
.seccion_servicios_grid .ux_grid .parrafo1_ux-grid,
.seccion_servicios_grid .ux_grid .parrafo1_equipo-grid,
.seccion_servicios_grid .ux_grid .parrafo1_cloud-grid,
.seccion_servicios_grid .ux_grid .parrafo1_metrica-grid,
.seccion_servicios_grid .equipo_grid .parrafo1_digital-grid,
.seccion_servicios_grid .equipo_grid .parrafo1_ux-grid,
.seccion_servicios_grid .equipo_grid .parrafo1_equipo-grid,
.seccion_servicios_grid .equipo_grid .parrafo1_cloud-grid,
.seccion_servicios_grid .equipo_grid .parrafo1_metrica-grid,
.seccion_servicios_grid .cloud_grid .parrafo1_digital-grid,
.seccion_servicios_grid .cloud_grid .parrafo1_ux-grid,
.seccion_servicios_grid .cloud_grid .parrafo1_equipo-grid,
.seccion_servicios_grid .cloud_grid .parrafo1_cloud-grid,
.seccion_servicios_grid .cloud_grid .parrafo1_metrica-grid,
.seccion_servicios_grid .metrica-grid .parrafo1_digital-grid,
.seccion_servicios_grid .metrica-grid .parrafo1_ux-grid,
.seccion_servicios_grid .metrica-grid .parrafo1_equipo-grid,
.seccion_servicios_grid .metrica-grid .parrafo1_cloud-grid,
.seccion_servicios_grid .metrica-grid .parrafo1_metrica-grid {
  padding-top: 8px;
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
}
.seccion_servicios_grid .digital_grid .parrafo2_digital-grid,
.seccion_servicios_grid .digital_grid .parrafo2_ux-grid,
.seccion_servicios_grid .digital_grid .parrafo2_equipo-grid,
.seccion_servicios_grid .digital_grid .parrafo2_cloud-grid,
.seccion_servicios_grid .digital_grid .parrafo2_metrica-grid,
.seccion_servicios_grid .ux_grid .parrafo2_digital-grid,
.seccion_servicios_grid .ux_grid .parrafo2_ux-grid,
.seccion_servicios_grid .ux_grid .parrafo2_equipo-grid,
.seccion_servicios_grid .ux_grid .parrafo2_cloud-grid,
.seccion_servicios_grid .ux_grid .parrafo2_metrica-grid,
.seccion_servicios_grid .equipo_grid .parrafo2_digital-grid,
.seccion_servicios_grid .equipo_grid .parrafo2_ux-grid,
.seccion_servicios_grid .equipo_grid .parrafo2_equipo-grid,
.seccion_servicios_grid .equipo_grid .parrafo2_cloud-grid,
.seccion_servicios_grid .equipo_grid .parrafo2_metrica-grid,
.seccion_servicios_grid .cloud_grid .parrafo2_digital-grid,
.seccion_servicios_grid .cloud_grid .parrafo2_ux-grid,
.seccion_servicios_grid .cloud_grid .parrafo2_equipo-grid,
.seccion_servicios_grid .cloud_grid .parrafo2_cloud-grid,
.seccion_servicios_grid .cloud_grid .parrafo2_metrica-grid,
.seccion_servicios_grid .metrica-grid .parrafo2_digital-grid,
.seccion_servicios_grid .metrica-grid .parrafo2_ux-grid,
.seccion_servicios_grid .metrica-grid .parrafo2_equipo-grid,
.seccion_servicios_grid .metrica-grid .parrafo2_cloud-grid,
.seccion_servicios_grid .metrica-grid .parrafo2_metrica-grid {
  padding-bottom: 8px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 40px;
}

/* Responsive */
@media (max-width: 480px) {
  .banner_servicios {
    height: auto;
    padding: 60px 20px;
  }
  .banner_servicios .titulo_banner_servicios {
    font-size: 28px;
  }
  .banner_servicios .subtitulo_banner_servicios {
    font-size: 18px;
  }
  .seccion_servicios_grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .digital_grid,
  .ux_grid,
  .equipo_grid,
  .cloud_grid,
  .metrica-grid {
    width: 90%;
    margin: 10px 0;
  }
  .digital_grid img,
  .ux_grid img,
  .equipo_grid img,
  .cloud_grid img,
  .metrica-grid img {
    max-width: 100%;
    height: auto;
  }
}
.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  /* Anidamiento del Formulario */
}
.formulario-contacto .titulo-contacto {
  font-size: 42px;
  font-weight: 700;
  color: #B96477;
  text-align: left;
}
.formulario-contacto .subtitulo-contacto {
  font-size: 24px;
  font-weight: 400;
  color: #5f5f5f;
  text-align: left;
}
.formulario-contacto .formulario-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.formulario-contacto .formulario-1 .form-nombre, .formulario-contacto .formulario-1 .form-tel, .formulario-contacto .formulario-1 .form-email, .formulario-contacto .formulario-1 .form-mensaje {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.formulario-contacto .formulario-1 .form-nombre label, .formulario-contacto .formulario-1 .form-tel label, .formulario-contacto .formulario-1 .form-email label, .formulario-contacto .formulario-1 .form-mensaje label {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}
.formulario-contacto .formulario-1 input, .formulario-contacto .formulario-1 textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
.formulario-contacto .submit-button {
  background-color: #B96477;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border-style: none;
}

@media (max-width: 480px) {
  .formulario-contacto {
    padding: 10px;
  }
}
footer {
  background-color: #f4f6f9;
  font-size: 8px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
footer .lista_logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .lista_logo .logo {
  width: 80px;
  height: 80px;
}
footer .lista_logo nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
}
footer .lista_logo nav ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
  text-decoration: none;
}
footer .redes_texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 12px;
}
footer .redes_texto .redes_sociales {
  display: flex;
  gap: 0;
}
footer .redes_texto .redes_sociales .instagram_logo,
footer .redes_texto .redes_sociales .linkedin_logo,
footer .redes_texto .redes_sociales .youtube_logo {
  width: 48px;
  height: 48px;
}
footer .redes_texto .texto_footer {
  color: #5f5f5f;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}/*# sourceMappingURL=estilos.css.map */