
// MIXIN
@mixin centrar-contenido-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


%estilo-icono-industria {
    width: 48px;
    height: 48px;
    display: block;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.15); 
    }
}