// scss/_variables.scss
$color-primario: #cb2390;
$color-secundario: #475a8b;
$color-fondo-claro: #fafafa;
$color-fondo-somos: #faecfa;
$color-texto-oscuro: #3f3f3f;
$color-texto-gris: #5f5f5f;
$color-texto-parrafo: #6d6e71;

$font-barlow: "Barlow", sans-serif;
$font-size-base: 16px;